<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link asp-href-include="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome-->
    <link asp-href-include="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link asp-href-include="/lib/font-awesome/css/all.css" rel="stylesheet" />
    <!--Custom CSS-->
    <link asp-href-include="/styles/StyleSheetRow.css" rel="stylesheet" />
    <link asp-href-include="/styles/AdminStyle.css" rel="stylesheet" />

    <title>Administartor - @ViewData["Title"] </title>
</head>
<body>
    <div class="row">
        <div class="col-2">
            <nav class="main-menu">
                <ul>
                    <li>
                        <a asp-controller="Home" asp-action="Index">
                            <i class="fa fa-home fa-2x"></i>
                            <span class="nav-text">
                                Home
                            </span>
                        </a>
                    </li>
                    <li class="has-subnav">
                        <a asp-controller="Admin" asp-action="Index">
                            <i class="fa fa-gift fa-2x"></i>
                            <span class="nav-text">
                                Items
                            </span>
                        </a>
                    </li>
                    <li class="has-subnav">
                        <a asp-controller="Admin" asp-action="Create">
                            <i class="fa fa-edit fa-2x"></i>
                            <span class="nav-text">
                                Create
                            </span>
                        </a>
                    </li>
                    <li class="has-subnav">
                        <a asp-controller="Customer" asp-action="Checkout">
                            <i class="fa fa-shopping-cart fa-2x"></i>
                            <span class="nav-text">
                                Cart
                            </span>
                        </a>
                    </li>
                </ul>

                <ul class="logout">
                    <li>
                        <a asp-controller="Account" asp-action="Logout">
                            <i class="fa fa-power-off fa-2x"></i>
                            <span class="nav-text">
                                Logout
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-10">
            @RenderBody()
        </div>
    </div>
    <div class="footer text-muted">
        <div class="container text-center">
            &copy; @DateTime.Now.Year.ToString()  - GeorgeSite
        </div>
    </div>

    <!-- JavaScript -->
    <script asp-src-include="lib/jquery/jquery.slim.min.js"></script>
    <script asp-src-include="lib/popper.js/popper.min.js"></script>
    <script asp-src-include="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</body>
</html>
